  <div class="container">
    <p class="navbar-text">Date : Saturday, MAY 3, 2014</p>
    <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Time</th>
        <th>Home</th>
        <th></th>
        <th>Away</th>
        <th>Venue</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16:30 GMT</td>
        <td>EvertonHome</td>
        <td>-</td>
        <td>Manchester City</td>
        <td>Goodison Park</td>
      </tr>
    </tbody>
    </table>
  </div>
